@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

:root {
    --lightWhite: #f7f7f7;
    --darkWhite: #eeeeee;
    --darkBlack: #393e46;
    --lightGray: #929aab;
    --reviewColor: rgba(3,156,234,255);
    --lessonColor:  rgba(236,1,156,255);
}
body {
    font-family: 'Proxima Nova', sans-serif;
}
#username {
    font-weight:bold;
}
#titleHeader {
    color:var(--lightWhite);
}



.bg-review {
    background-color: var(--reviewColor);
    filter: drop-shadow(0px 3px #0574cf);
}

.bg-lesson {
    background-color: var(--lessonColor);
    filter: drop-shadow(0px 3px #b5217a);

}

a {
    color:inherit;
    text-decoration: none;
}
a:hover {
    color:inherit;
    text-decoration: none;
}
.stretchLink {
    width:100%;height:100%;display:block
}

.bg-lightWhite { 
	background: var(--lightWhite); 
}
	
.bg-darkWhite { 
	background: var(--darkWhite); 
}

.bg-darkBlack { 
	background: var(--darkBlack); 
}

.bg-lightGray { 
	background: var(--lightGray); 
}